<!-- Show the list of scraped articles -->
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Mongo Scraper</h1>
	  <p class="lead">New York Times Edition</p>
	</div>
	<div id="articles"></div>
	<div id="notes">
		{{#each dbArticle}}
			<div class="card">
			  <h5 class="card-header">{{this.title}}</h5> 
			  <div class="card-body">
			    <p class="card-text">{{this.summary}}</p>
			    <button id = "{{this._id}}" data-id="{{this._id}}" class="saveArticle btn btn-success">Save Article!</button>
			  </div>
			</div>
			<br>			
		{{/each}}
	</div>
</div>